[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

MemoryCaptures/
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.apk
*.aab
*.jar
*.bak
*.swp
.vs/
.idea/
.vscode/
.DS_Store
Thumbs.db
